<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Super Admin</title>
</head>
<body>
    <form action="/super-admin" method="Post">
        <input type="text" name="adminNameText" placeholder="Enter Name">
        <input type="text" name="adminUserNameText" placeholder="Enter User Name">
        <input type="email" name="adminEmailText" placeholder="Enter Your Email">
        <input type="password" name="adminPasswordText" placeholder="Enter Your Password">
        <input type="Text" name="adminPasswordConfirmText" placeholder="Enter Your Password to confirm">
        <button>Save</button>
    </form>
</body>
</html>